

<div class="text-center">
    <h1 class="display-4">Zde jsou poznámky uživatele: @p.HttpContext.Session.GetString("prihlasenyUzivatel")</h1>
    <p></p>
</div>


<div>
    <label for="title">Nadpis:</label>
    <input type="text" id="title" name="title" />
</div>
<div>
    <label for="content">Obsah:</label><br />
    <textarea id="content" name="content" rows="4" cols="50"></textarea>
</div>
<div>
    <label for="date">Datum:</label>
    <input type="date" id="date" name="date" />
</div>
<div>
    <label for="important">Důležitá:</label>
    <input type="checkbox" id="important" name="important" />
</div>
<button type="submit">Vytvořit</button>

