

<div class="text-center">
    <h1 class="display-4">Přidejte poznámku pro uživatele: @p.HttpContext.Session.GetString("prihlasenyUzivatel")</h1>
    <p></p>
</div>

@{
    if (p.HttpContext.Session.GetString("prihlasenyUzivatel") != null)
    {
        <form asp-action="pridat" asp-controller="Poznamky" method="post" class="form-style">
            <div>
                <label for="nadpis">Nadpis:</label>
                <input type="text"  name="nadpis" />
            </div>
            <div>
                <label for="text">Obsah:</label><br />
                <textarea id="text" name="text" rows="4" cols="50"></textarea>
            </div>
            <div>
                <label for="important">Důležitá:</label>
                <input type="checkbox" name="dulezitost" />
            </div>
            <button type="submit">Vytvořit</button>
        </form>
                } else {
                     <h3>přihlaš se</h3>
    }
}



